<!DOCTYPE html>
<html>
    <head>
        <title>PostIT</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100i,300,300i,400,400i,600,600i,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">

        <%= stylesheet_link_tag 'application', media: 'all' , 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-inverse ">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to "PostIt", root_path, :class => 'navbar-brand' %>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item"><%= link_to "About", about_path, :class => 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Topics", topics_path, :class => 'nav-link' %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path, :class => 'nav-link' %></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <% if current_user %>
            <%= current_user.name %><%= link_to 'Sign Out', session_path(current_user), method: :delete %>
            <%= image_tag avatar_url(current_user), class:'avatar' %>

        <% else %>
            <%= link_to 'Sign In', new_session_path, class: 'btn signup-link' %>
            <%= link_to "Sign Up", new_user_path, class:'btn signup-link' %>
        <% end %>

    </form>
  </div>
</nav>

        <br>
        <div class="container margin-bottom-5">
            <% if flash[:notice] %>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:notice] %>
            </div>
            <% elsif flash[:alert] %>
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= flash[:alert] %>
            </div>
            <% end %>
            <%= yield %>

        </div>
    </body>
    <script src="https://use.fontawesome.com/5373e16910.js"></script>
</html>
